[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-repeat = "*"
hypothesis = "*"

[packages]
flask = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
recipe-scrapers = "*"
pymysql = "*"
pint = "*"

[requires]
python_version = "3.7"
