<!doctype html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div>
  <h1>{{ title }}</h1>
  <div>Created {{ timeCreated }}</div>
  <hr />
  {% for day in recipes %}
    {% if not loop.first %}
    <hr />
    {% endif %}
    <h2>Day {{ loop.index }}</h2>
    <ul class="list-group">
      {% for recipe in day %}
        <li class="list-group-item">
          <div class="card">
            <img class="card-img-top" src="{{ recipe.imageURL }}" alt="{{ recipe.name }}" />
            <div class="card-body">
              <h3 class="card-title">{{ recipe.name }}</h3>
              <div class="card-text">
                <div>Cost: ${{ recipe.cost }}</div>
                <div>Calories: {{ recipe.calories }}</div>
              </div>
              <div><a href="{{ recipe.recipeURL }}">Get recipe</a></div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
